* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html,body {
    font-family: "PingFang SC","Hiragino Sans GB", "Helvetica Neue", Arial, "Microsoft Yahei", sans-serif;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    width: 100%;
}

body {
    overflow-x: initial;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
